<html>
<head>
	<h3>Time clock</h3>
</head>
<body>
	{% if user %}
		<p>Welcome master {{user.email()}}</p>
		<p> Click here to <a href={{logout_url}}>Sign Out</a></p>
	{% else %}
		<p>Welcome</p>
		<p> Click here to <a href={{login_url}}>Sign in</a> and customize</p>
	{% endif %}
	<p>The time is {{current_time}}</p>
	{% if user %}
		<form action="/pref" method="Post">
		<label for = "tzoffset">UTC offset can be negative:</label>
		<input name = "tzoffset" type = "text" value = {{userpref.tz_offset}} id = 'tzoffset' size = "4" />
		<input type = "submit" value = "set" />
		</form>
	{% endif %}	


</body>
</html>